<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Debt Writer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/">Home</a>
        </li>
        <% if (cekSesi) { %>
          <li class="nav-item">
            <a class="nav-link" href="/notes">Notes</a>
          </li>
         <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
         </li>
         <form action="/logout" method="post">
          <button type="submit" class="btn-link" onclick="return confirm('Yakin anda ingin keluar?')">Logout</button>
         </form>
        <% } else {%>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>