
    <div class="container p-5">
        <div class="container p-4">
            <h1>Debt Writer Home Page</h1>
            <p>Selamat data di Debt Writer....</p>
            <div class="container col-md-12">
                <img src="/img/home-image.jpg" alt="note-images" class="m-3 img-thumbnail rounded-circle" width="200">
                <p class="">Let's Write Your Debt...</p>
                <br>
                <div class="col-md-10">
                    <a href="/notes" class="float-end btn btn-primary">Get Started &raquo;</a>                        
                </div>      
            </div>
        </div>
    </div>

