
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <img src="img/default-profile.png" alt="profile" class="img-thumbnail rounded-circle" width="150">
            <h1 class="display-4"><%= userProfile.nama %></h1>
            <p class="lead"><%= userProfile.role %> | Indonesia</p>
        </div>
    </div>
</div>
